
.hg/
binaries/
deriveddatacache/
.vs/
build/
intermediate/
PACKPLUGIN/
COMPPLUGIN/
saved/
*.orig
*.sln
*.xlsx
Content/RR_data/Assets/Elevator02/Warehouse_Finished01_BuiltData.uasset
Content/RR_data/Assets/Elevator02/Warehouse_master01_BuiltData.uasset
Content/RR_data/Assets/Elevator02/Warehouse_Trashed01_BuiltData.uasset
